* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  color: #fff;
  background-color: #406;
  padding: 20px;
  height: 100vh;
  align-items: center;
}

.Game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
